<div class="hero-img-box">
  <div class="hero-text-box">
    <h1 class="heading-primary">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
    </h1>
    <p class="hero-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue non
      metus vitae suscipit. Nunc vel feugiat ligula. Cras posuere mauris id
      fringilla iaculis. Ut gravida leo id purus faucibus, id placerat odio
      pretium. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Ut congue non metus vitae suscipit. Nunc vel feugiat ligula. Cras
      posuere mauris id fringilla iaculis.
    </p>
    <a href="#" class="btn">Learn more &darr;</a>
  </div>
</div>
