.hero-img-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/spa-woman-female-enjoying-massage-in-spa-centre-royalty-free-image-492676582-1549988720.jpg");
  height: 101vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1.3fr 0.3fr;
  grid-template-rows: 2fr 2fr 2.5fr;

  width: 100%;
}

.hero-text-box {
  background-color: rgb(0, 0, 0, 0.1);
  padding: 2.5rem 2.5rem;
  border-radius: 24px;

  grid-column: 2;
  grid-row: 2;
}

.heading-primary {
  line-height: 5vh;
  font-weight: 600;
  font-size: 3vw;
  letter-spacing: 0.1rem;
  margin-bottom: 3vh;
  color: #ececec;
}

.hero-description {
  line-height: 3vh;
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 0.1rem;
  color: #f6f6f6;
  margin-bottom: 5vh;
}

.btn:link,
.btn:visited {
  display: inline-block;

  background-color: #f6f6f6;
  color: var(--third-bk-color-dark-3);
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 600;
  padding: 0.5rem 1.6rem;
  border-radius: 8px;

  transition: background-color 500ms;
}

.btn:hover,
.btn:active {
  background-color: var(--third-bk-color-dark-3);
  color: #f6f6f6;
}

.btn:active {
  transform: translateY(2px);
}

.btn:focus {
  box-shadow: none;
}


/* Media queries */

@media (max-width: 100rem) {

  .hero-img-box {
    grid-template-columns: 1.8fr 1.3fr 0.3fr;
    grid-template-rows: 2.5fr 2fr 2fr;
  }
}

@media (max-width: 87rem) {

  .hero-img-box {
    grid-template-columns: 1.4fr 1.3fr 0.2fr;
    grid-template-rows: 2.8fr 2fr 1.7fr;
  }

  .hero-description {
    font-size: 1.2vw;
  }
}

@media (max-width: 75rem) {

  .hero-img-box {
    grid-template-columns: 1.2fr 1.3fr 0.2fr;
    grid-template-rows: 2.8fr 2fr 1.2fr;
  }

  .hero-description {
    font-size: 1.4vw;
  }
}

@media (max-width: 62rem) {

  .hero-img-box {
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 2fr 0.6fr;

    height: 100%;
  }

  .heading-primary {
    line-height: 1.5rem;
    font-size: 3vw;
    margin-bottom: 1rem;
  }

  .hero-description {
    font-size: 1.6vw;
    line-height: 1.5rem;
  }

  .btn-wraper{
    text-align: center;
  }

  .btn{
    font-size: 1rem !important;
  }
}

/* Phone */

@media (max-width: 29em) {
  .hero-img-box {
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.6fr 2fr 0.6fr;
  }

  .heading-primary {
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .hero-description {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
