.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  color: var(--fourth-bk-color-light-9);
  font-size: 1.6vw;
  padding: 0.6rem 2rem;
  border-left: 2px solid var(--third-bk-color-light-9);
  flex-grow: 1;
}

.mobile{
  display: none;
}

.row:hover,
.row:visited {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.active:hover,
.active:visited {
  color: var(--fourth-bk-color-light-1);
  font-weight: 600;
}

.active {
  border-left: 2px solid var(--fourth-bk-color-light-1);
  color: var(--fourth-bk-color-light-1);
  font-weight: 500;
}

/* Media queries */
@media (max-width: 62em) {
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .row {
    display: none;

    flex-grow: 1;
    color: var(--fourth-bk-color-light-9);
    font-size: 3.5vw;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--third-bk-color-light-9);
    border-left: none;
    text-align: center;
    align-self: center;
    letter-spacing: -0.05rem;
    font-weight: 400;
  }

  .mobile{
    display: block;
    flex-grow: 1;
    
    margin-top: 2rem;
    
    text-align: center;
  }

  .row-mobile{
    padding: 0 1em;
  }

 

  input[type='radio'] {
    accent-color: var(--fourth-bk-color-light-1);  
    border: none;
  }

  .active {
    border-bottom: 2px solid var(--fourth-bk-color-light-1);
    border-left: none;
    color: var(--fourth-bk-color-light-1);
    font-weight: 500;
  }
}
