<div class="background">
<div appFooter class="content">
    <div class="main-info">
        <div class="social">
            <ul>
                <li><a href="" target="_blank">
                    <fa-icon class="fa-facebook" [icon]="faFacebook"></fa-icon>
                </a></li>
                <li><a href="" target="_blank">
                    <fa-icon class="fa-instagram" [icon]="faInstagram"></fa-icon>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="additional-info">
        <p>
            <span>&#169; 2022 HealthRoom</span> | 
            <span><a href="">O mnie</a> </span> |
            <span><a href="">Polityka Prywatności</a></span>  |
            <span>Dybsoftware</span>
        </p>
    </div>
</div>
</div>