.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1.5fr 0.1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;

  height: 100%;
  width: 100%;

}

img {
  width: 100%;
  grid-column: 2;
  grid-row: 1 / 3;
}

.descrition{
  grid-column: 3;
  grid-row: 2;
}
