.container {
  display: flex;

  height: 100%;
  width: 100%;

  align-items: center;
  position: relative;
}

img {
  position: absolute;
  padding-left: 4rem;

  top: -10%;
  left: 0;
  width: 50%;
  height: 120%;
}

.descrition{

}
