.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 80vh;
  border: none;
}

.card-side {
  height: 80vh;
  transition: all 1.4s ease;

  color: #fff;
  font-size: 2.2vw;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(60, 60, 60, 0.2);
}

.card-side--front {
  background-color: #fff;
}

.card-side--back {
  background-image: linear-gradient(to left top, var(--main-bk-color-dark-3), var(--main-bk-color-light-1));
  transform: rotateY(-180deg);
}

.card:hover .card-side--front {
  transform: rotateY(180deg);
}

.card:hover .card-side--back {
  transform: rotateY(0);
}

.card-photo {
  background-size: cover;
  height: 35vh;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  background-image: linear-gradient(to left top, var(--main-bk-color-dark-3), var(--main-bk-color-light-1)),
    url("https://media.istockphoto.com/photos/female-therapist-manipulating-shoulder-blade-on-young-female-patient-picture-id698127146?k=20&m=698127146&s=612x612&w=0&h=26cMl4lIt5yav6ltpbH18vBeQtRld7qzn2rfBzFEsLs=");
}

.card-heading {
  font-size: 2.2vw;
  font-weight: 300;
  line-height: 6.5vh;
  text-transform: uppercase;
  text-align: right;
  color: #f6f6f6;
  position: absolute;
  top: 20vh;
  right: 1.5rem;
  width: 76%;
}
.card-heading-span {
  padding: 0.4rem 1.2rem;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to right bottom,
    rgb(82, 165, 140, 0.65),
    rgb(33, 140, 107, 0.65)
  );
}

.card-details {
  margin-top: 1.5vh;
  width: 100%;
}

.card-details ul {
  color: #898989;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}

.card-details ul li {
  text-align: center;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 2.4vh;
}

.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card-back {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 50%);
  color: #f6f6f6;
}

.card-price-box {
  text-align: center;
  margin-bottom: 9vh;
}

.card-price-text {
  font-size: 1.4vw;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.card-price-value {
  font-size: 6vw;
  font-weight: 100;
}

.btn {
  text-decoration: none;
  font-size: 2.2vw;
  font-weight: 300;
  background-color: #fff;
  color: var(--third-bk-color-dark-3);
  border-radius: 120px;
  padding: 1rem 2rem;
  position: absolute;
  left: 1vw;
  top: 30vh;
}

.btn:hover{
  background-color: var(--third-bk-color-dark-3);
  color: #fff;
}

@media (max-width: 62em) {

  .card:hover .card-side--front {
    transform: none;
  }
  
  .card:hover .card-side--back {
    transform: none;
  }

  .card {
    height: 55vh;
  }
  
  .card-side {
    height: 55vh;
    font-size: 2.2vw;
  }

  .card-photo {
    height: 25vh;
  }
  
  .card-heading {
    font-size: 3.6vw;
    line-height: 4.5vh;
    top: 18vh;
    right: 0.5rem;
    width: 65%;
  }

  .card-details {
    margin-top: 2.5vh;
  }

  .card-details ul li {
    font-size: 2.5vw;
    padding: 1.5vh;
  }

  .card-back {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 50%);
    color: #f6f6f6;
  }
  
  .card-price-box {
    margin-bottom: 9vh;
  }
  
  .card-price-text {
    font-size: 4.4vw;
    margin-bottom: 2vh;
  }
  
  .card-price-value {
    font-size: 13vw;
  }
  
  .btn {
    font-size: 4.2vw;
    left: 5vw;
    top: 20vh;
    padding: 1rem 1rem;
  }
}