<div class="card">
  <div class="card-side card-side--front">
    <div class="card-photo"></div>
    <div class="card-heading">
      <span class="card-heading-span">Bowtech therapy</span>
    </div>
    <div class="card-details">
      <ul>
        <li>3 day pain</li>
        <li>Adrenaline</li>
        <li>Exclusive massage</li>
        <li>No pain no gain</li>
        <li>We can change your health --together--</li>
      </ul>
    </div>
  </div>
  <div class="card-side card-side--back">
    <div class="card-back">
      <div class="card-price-box">
        <div class="card-price-text">Only</div>
        <div class="card-price-value">$300</div>
      </div>
      <a href="#" class="btn">Order</a>
    </div>
  </div>
</div>
