<header appNavbar class="header" [ngClass]="barsOpen ? 'nav-open' : ''">
  <div>
    <img id="logo" (click)="onNavigate('app-hero')" class="logo" src="../../../assets/logo.png">
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><p class="main-nav-item" (click)="onNavigate('app-hero-more')">O mnie</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-treatments')">Najczęściej wybierane</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-carousel')">Zabiegi</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-contact')">Kontakt</p></li>
    </ul>
  </nav>
  <button id="btn-mobile-nav" class="btn-mobile-nav" (click)="onShowMenu()">
    <fa-icon class="icon-mobile-nav" id="bars" [icon]="faBars"></fa-icon>
    <fa-icon class="icon-mobile-nav" id="exit" [icon]="exit"></fa-icon>
  </button>
</header>
