<header appNavbar class="header">
  <p class="logo">LOGO</p>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><p class="main-nav-item" (click)="onNavigate('app-hero')">Section 1</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-hero-more')">Section 2</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-treatments')">Section 3</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-carousel')">Section 4</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-contact')">Section 5</p></li>
      <li><p class="main-nav-item" (click)="onNavigate('app-footer')">Section 6</p></li>
    </ul>
  </nav>
</header>
