.carousel {
  display: grid;
  grid-template-rows: 0.6fr 1fr 0.1fr;
  grid-template-columns: 0.3fr 6fr 0.3fr;

  height: 100vh;
  overflow: hidden;
}

.content{
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: 5fr 1fr;
  border-radius: 3rem;

  height: 70vh;
  background: linear-gradient(to left top, var(--main-bk-color-dark-3), var(--main-bk-color-light-1));
}

.item {
  grid-column: 1;
}

.right-side {
  grid-column: 2;
}

.menu {
  height: 80%;
  margin-top: 25%;
}

/* Media queries */
@media (max-width: 62em) {
  .carousel {
    grid-template-rows: 0.2fr 1fr 0.1fr;
    grid-template-columns: 0.3fr 4fr 0.3fr;
    width: 100%;
    height: 100%;
  }
  
  .content{
    grid-row: 2;
    grid-column: 2;
  
    grid-template-columns: none;
    grid-template-rows: 0.6fr 5fr;
    border-radius: 3rem;
  
    height: 120vh;
  }

  .item {
    grid-row: 2;
    grid-column: unset;
  }
  
  .right-side {
    grid-row: 1;
    grid-column: unset;
  }
  
  .menu {
    height: 10vh;
    margin-top: 0;
  }
}
