.hero-more {
  display: grid;
  grid-template-columns: 0.1fr 1.3fr 0.6fr 0.1fr;
  gap: 4rem;

  margin-top: 12rem;
}

img {
  background-color: #fff;

  grid-column: 3;
  grid-row: 1;
}

.info {
  grid-column: 2;
  grid-row: 1;
}

.heading {
  margin-top: 3rem;
  line-height: 3rem;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

.description {
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5.2rem;
}
